.publisher-wrapper {
  background: $gray-200;
  bottom: $footer-height + $editor-wrapper-padding;
  left: 0;
  top: $header-height + $editor-wrapper-padding + $phase-component;
  right: 0;
  position: absolute;
  display: block;
  flex-direction: column;

  .publisher-pane {
    min-width: 90px;
    height: 100%;
  }

  .canvas {
    height: 100%;

    .workspace {
      background: $white;
      display: block;
      padding: 0;
      overflow: auto;

      .scrollable {
        padding: 30px 0;

        .card {
          border: 1px solid $gray-300;

          &:hover {
            border-color: $secondary-color;
          }
        }
      }
    }

    .actions-pane {
      background: $white;
      text-align: center;
      height: 100%;

      .action-button {
        font-size: 0.9rem;
        width: 60%;
        border: none;
        margin-top: 7%;
        height: 3em;
        min-height: 37px;
        text-transform: uppercase;
      }

      .addon-button {
        font-size: 1.1rem;
        border: none;
        background: transparent;
        margin-top: 7%;
        cursor: pointer;
        width: 100%;

        &.inactive {
          opacity: 0.5;
          cursor: default;
        }

        .icon {
          margin: 0 20%;
        }
      }
    }
  }
}

.publish-overview {
  height: 100%;
  width: 100%;
  color: $primary-color;

  .publish-overview-inner {
    display: flex;
    flex-direction: row;

    .overview-column {
      width: 50%;

      .overview-item {
        display: block;
        width: 100%;
        margin: 2px 20px;

        &:focus {
          border: 2px solid $secondary-color;
          box-shadow: none;
        }

        @media (min-width: 1440px) {
          &-post-description {
            textarea.form-control {
              height: 10em;
            }
          }
        }
      }

      .overview-item-preview {
        margin-bottom: 0.5rem;
      }

      .overview-item-preview-first {
        margin-top: 1.5em;
      }

      .embed-url {
        background: transparent;
        color: $primary-color;
      }

      .embed-url-preview {
        margin-bottom: 1rem;
      }

      .embed-code {
        textarea.form-control {
          @media (min-width: 1440px) {
            height: 20em;
          }
        }
      }

      .embed-item {
        min-height: 20%;

        .resizer {
          margin-bottom: 10px;
        }

        textarea[type="textarea"] {
          width: 100%;
          resize: none;
          background: transparent;
          color: $primary-color;

          &:focus {
            border: 2px solid $secondary-color;
            box-shadow: none;
          }
        }
      }

      .overview-edit {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: middle;

        .overview-item {
          margin: 0;
          background: transparent;
          color: $primary-color;
        }

        .thumbnail-field {

          img {
            width: 15%;
            height: auto;
            margin: 0 5%;
          }

          .upload-box {
            margin: 1% 0;

            .link-input {
              width: 100%;
            }
          }
          @media (max-width: 1367px) {
            img {
              width: 10%;
            }
          }
          @media (min-width: 1368px) and (max-width: 1439px) {
            img {
              width: 15%;
            }
          }
          @media (min-width: 1440px) {
            img {
              width: 30%;
            }
          }

        }

        .icon {
          height: 80%;
          float: right;
          margin: -2px 0 0 8px;
        }

        .button {
          cursor: pointer;
          text-align: center;
          height: 25px;
          display: block;
          width: 70px;
          padding: 3px 8px;
          border: $primary-color solid 0.5px;
          border-radius: 10px;
          margin: 3px 5px 0 5px;
        }

        .button-primary {
          color: $white;
          background: $secondary-color;
          border-color: $secondary-color;
        }

        .submit {
          width: 15%;
          font-size: 1.4rem;
          height: 30px;
          @media (min-width: 1440px) {
            width: 18%;
            height: 35px;
          }
        }
        .form-group {
          @media (max-width: 1367px) {
              margin-bottom: 0.5rem;
          }
          @media (min-width: 1368px) and (max-width: 1439px) {
              margin-bottom: 1rem;
          }
          @media (min-width: 1440px) {
            margin-bottom: 1.5rem;
          }

          label[for="image-uploader"] {
            display: flex;
            align-items: center;

            input[type=file] {
              margin-left: 1em;
              width: 40%;
            }
          }
        }
      }

      label {
        font-weight: 300;
        font-size: 1.2rem;
        @media (max-width: 1367px)  {
          font-size: 1rem;
          margin-bottom: 0.2rem;
        }
      }
    }
  }
}

.campaign {
  width: 40vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .loading-screen {
    height: 100%;
    font-size: 1.5rem;
    color: $primary-color;
    text-align: center;

    div {
      margin-left: unset;
    }

    span {
      display: block;
      width: 100%;
    }
  }

  .workspace {
    flex-grow: 2;
    color: $primary-color;
    width: 100%;
    text-align: center;

    .embed-progress {
      margin-bottom: 2%;

      .progress-bar {
        background-color: $secondary-color;
      }
    }

    .embed-title {
      text-align: center;
    }

    .embed-line {
      display: block;
      margin-bottom: 10px;
    }

    .embed-group {
      display: block;
      label {
        margin-right: 10px;
      }

      .text-resolution {
        margin-left: 1em;
      }
    }

    .embed-grid {
      display: table;
      width: 90%;
      margin: 0 5%;

      .row {
        display: table-row;
        height: 30px;
      }

      .cell {
        display: table-cell;
      }
    }

    .embed-engine {
      height: 24rem;

      #autoplay-check, #preload-check {
        background: transparent;
        color: $primary-color;
      }

      .embed-details {
        height: 9rem;

        .hint-container {
          display: flex;
          flex-direction: column;
          margin-bottom: 1em;

          .hint-title {
            text-align: center;
            font-size: 12px;
            font-weight: 600;
            width: 60%;
            margin: 0 auto;
            margin-bottom: 0.5em;
          }

          .hint-steps {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 11px;
            margin: 0 auto;
            margin-top: 3px;

            > span {
              padding: 2px;
            }
          }
        }
      }

      .embed-item {
        .resizer {
          height: 28px;
          margin-bottom: 10px;
          display: inline-flex;
          align-items: center;
          float: right;
        }

        .dimension-input {
          width: 50px;
          margin: 0 5px;
          display: inline;
          height: 100%;
          text-align: center;
          background: transparent;
          color: $primary-color;
        }

        textarea[type="textarea"] {
          width: 100%;
          height: 100%;
          resize: none;
          background: transparent;
          color: $primary-color;
        }

        .embed-code-title {
          display: flex;
          padding-top: 1em;
        }
      }
    }

    .embed-location {
      .embed-page-input {
        width: 80%;
        margin: 0 10%;
        background: transparent;
        color: $primary-color;
      }

      .url-hint-container {
        display: flex;
        flex-direction: column;
        font-size: 1rem;

        .url-hint-example {
          margin-bottom: 0.5em;
          margin-top: 1.5em;
        }
      }
    }
  }

  .controls {
    width: 100%;
    height: 8%;

    .go-button {
      display: inline-block;
      height: 100%;
      width: 15%;
      &.inactive {
        opacity: 0.3;
        pointer-events: none;
        cursor: default;
      }
    }

    .back {
      float: left;
    }

    .next {
      float: right;
    }
  }
}

.text-resolution {
  font-weight: 600;
  font-size: 0.7em;
  margin-top: 0.5em;
  color: #EF5054
}

