.social-campaign {

  .conductor-iframe {
    width: 1px;
    height: 1px;
  }

  .fb-login {
    width: 150px;
    height: 40px;
    font-size: 1.1rem;
    color: white;
    background: #3b5998;

    .fa-facebook-official {
      margin-right: 5px;
    }
  }

  .facebook-page {
    .facebook-page-tab {
      width: 80%;
      margin: 0 10%;
      background: transparent;
      color: $primary-color;
    }
  }
}