@import "social-sources/facebook";
@import "social-sources/linkedin";

.social-campaign {
  width: 75vw;
  height: 80vh;

  .social-source-container {
    font-size: 1.5rem;

    .social-source-list {
      justify-content: center;
      display: flex;
      padding: 0;
      list-style-type: none;
      margin-top: 2%;

      .social-source-list-item {
        float: left;
        width: 6rem;
        height: 6rem;
        cursor: pointer;
        margin: 0 1rem;
        display: inline;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.warning {
  display: block;
  width: 70%;
  margin: auto;
  background-color: #ff8c;
  border: thin solid #dbbf6c;
}

@media (max-width: 1366px) {
  .social-campaign {
    height: 88vh;
  }
}

@media (width: 1920px) and (height: 1080px) {
  .social-campaign {
    height: 70vh;
  }
}
