.social-campaign {
  display: flex;
  flex-direction: column;

  .controls {
    width: 100%;
    height: 8%;

    .go-button {
      display: inline-block;
      height: 100%;
      width: 15%;
    }

    .back {
      float: left;
    }

    .next {
      float: right;
    }
  }
}