.templates {
  min-height: 600px;
}

.wizard-gallery {
  margin: $header-height auto ($footer-height + 10px)  auto;
  text-align: center;
}

.card {
  width: 200px;
  overflow: hidden;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.14902) 0 2px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border: none;

  .overlay {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
      transition: opacity 0.3s;
    }

    .buttons-container {
      height: auto;
      width: 100%;
      display: block;
      position: relative;
      margin: auto;

      &.preview {
        margin: auto;
      }

      .button {
        cursor: pointer;
        height: 25px;
        display: inline-block;;
        width: 70px;
        padding: 3px 8px;
        border: white solid 0.5px;
        border-radius: 10px;
        margin: 0 5px;

        &.btn-preview {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          font-size: 20px;
          margin-bottom: 10px;
          position: relative;
          i {
            position: absolute;
            left: 14px;
            top: 10px;
            &.fa-pause {
              left: 11px;
            }
          }
          &:hover {
            background: rgba(15, 15, 15, 0.5);
            cursor: pointer;
          }
        }
      }

      .button-primary {
        background: $secondary-color;
        border-color: $secondary-color;
      }
    }
  }
}

.card > h2 {
  font-size: 6em;
  color: #fff;
  margin: 1.6em 0;
}
