@import "../../_variables";
@import url('https://fonts.googleapis.com/css?family=Muli:300');
@font-face {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.phase-component {
  color: $primary-color;
  padding: 30px 20px 0;
  font-family: 'Muli', sans-serif;
  
  .phase-state {
    &-title {
      text-align: center;
      font-size: 26px;
      font-weight: 700;
    }
    &-tabs, &-container {
      display: flex;
      justify-content: center;
      
      .stepper {
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        align-items: center;
        cursor: pointer;
        
        .line {
          position: absolute;
          border: 1px solid #eb5053;
          width: 93%;
          top: 25px;
          left: 45px;
        }

        .stepper-tab-group {
          z-index: 10;
          display: flex;
          flex-flow: column;

          &.active {
            font-weight: 700;

            .phase {
              &-label {
                color: #ffffff;
                background: #e78c8d;
                border: 1px solid #e78c8d;
                &:hover {
                  background: #eb5053;
                }
              }
            }
          }
            
          .gapped {
            background: #e9ecef;
            padding: 5px;
            width: 50px;
            align-self: center;
          }

          .phase {
            z-index: 10;
            width: 40px;
            height: 40px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #eb5053;
            background: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            &-label {
              display: flex;
              color: #eb5053;
              border: 1px solid #eb5053;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              justify-content: center;
              align-items: center;
              font-size: 20px;
              phase-label: .4s background ease-out;
              &:hover {
                background: #e78c8d;
                color: #ffffff;
              }
            }
          }
          .stepper-tab-label {
            margin-top: 10px;
            text-align: center;
          }
        }
      }
    }
  }
}
