@import "../../_variables";
@import "placeholders";

.search-template {
  color: $default-gray;
  padding: 30px 20px 20px 20px;
  display: flex;
  justify-content: center; 

  .search-field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    .search-input {
      width: 70%;
      input {
        &.vr-dashed {
          width: 100%;
          font-size: 1em;
          border: none;
          background-color: transparent;
          border-width: thin;
          border-bottom-color: $default-gray;
          border-bottom-style: dashed;
          padding: 0 0 5px;
          &:active, &:focus {
            outline: none;
          }
        }
      } 
    }

    .search-button {
      text-align: center;
      a {
        cursor: pointer;
        img {
          &.search-icon {
            width: 15px;
          }
        }
      }
    }
  }
}