.image-upload {
  color: $primary-color;
  margin: 5px 0;
  background: transparent;
  padding: 0;

  * {
    margin: 5px 0;
    display: block;
  }

  .submit-button {
    height: 30px;
    width: 100px;
    border: none;
    text-transform: uppercase;
  }
}