.image-upload {
  color: $primary-color;
  margin: 5px 0;
  background: transparent;
  padding: 0;

  * {
    margin: 10px 0;
    display: block;
  }

  input[type=text] {
    width: 100%;
  }

  .text-resolution {
    font-weight: 600;
    font-size: 0.8em;
    margin-bottom: 1.5em;
    color: #EF5054
  }

  .submit-button {
    height: 30px;
    width: 15%;
    font-size: 0.9rem;
    border: none;
    text-transform: uppercase;
    @media (min-width: 1440px) {
      width: 18%;
      height: 35px;
    }
  }

  .alert-error {
    text-align: left;

    .close {
      padding: 0 1.25rem;

      span {
        margin: 0;
      }
    }
  }
}
