.personalizer {
  font-size: 1.1rem;
  display: inline-block;
  flex-direction: row;
  overflow-y: auto;
  width: 100%;

  .token-list {
    display: flex;
    padding: 0;

    list-style-type: none;

    .token-list-item {
      display: block;
      cursor: pointer;
      margin: 10px 0;
      font-weight: inherit;
      margin: 10px 5px;
      padding: 0 15px;
      background-color: #22222F;
      border-radius: 5px;

      .item-dot-icon {
        .cls-1 {
          fill: #dedede;
          stroke: none;
        }
      }

      .token-list-name {

        color: white;
        padding: 5px 17px;
      }

      .icon {
        margin-right: 5px;
      }

      &.selected {
        background-color: $secondary-color;
        font-weight: 500;
        .item-dot-icon {
          .cls-1 {
            fill: $secondary-color;
            stroke: none;
          }
        }
      }
    }
  }

  .separator {
    background-color: #A3ABAB;

    &.horizontal {
      margin: 10px 0;
      width: 100%;
      height: 1px;
    }

    &.vertical {
      margin: 0 10px;
      height: 100%;
      width: 5px;
    }
  }

  .setup-area {
    flex-grow: 2;
    padding: 5px;
    width: 100%;

    .configuration-list {
      display: block;
      padding-bottom: 70px;
      height: 50%;
      width: 100%;
      list-style-type: none;
      padding-left: 0;
      // .list-li {
      //   padding: 2px 0px;
      // }

      .configuration-list-item {
        display: block;
        cursor: pointer;
        margin: 10px 0;
        font-weight: inherit;

        .icon {
          margin-right: 5px;
        }

        .item-dot-icon {
          .cls-1 {
            fill: #dedede;
            stroke: none;
          }
        }

        .fallback-input {
          margin-left: 5px;
          display: flex;
          background: #1C1C26;
          border-radius: 5px;
          width: 50%;
          max-width: 450px;
        }

        &.selected {
          color: $secondary-color;
          font-weight: 500;

          .item-dot-icon {
            .cls-1 {
              fill: $secondary-color;
              stroke: none;
            }
          }
        }
      }
    }

    .confirm-button {
      position: absolute;
      bottom: 10%;
      text-weight: 400;
      width: 80px;
      text-transform: uppercase;
      border: none;
      padding:6px 15px;

      &:before {
        content: '\002B';
        margin-right: 3px;
      }
    }
  }
}